<extend name="Public/base"  />

<block name="main">
<style>
	.num,.prev,.next,.first,.end{
		margin:0 3px;
	}
	#ss{
		position:relative;
		top:36px;
		left:100px;
	}
</style>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">用户管理</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row" >
		<div class="col-lg-12">
			
				<form>
					<table id="ss">
						<tr >
							<th>
								<input  type="text" name="username" class="form-control input-sm" placeholder="用户名查询">
								
							</th>
							<th style="position:absolute;margin-left:20px;">
							    <button type="button" class="btn btn-sm btn-primary">搜索</button>
							</th>
						</tr>
					</table>
				</form>
			<div class="panel panel-default">
				<div class="panel-heading">用户管理
					<a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" style="margin-left:18%;margin-top:-5px;">		添加
					</a>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									
									<th>帐号</th>									
									<th>添加时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<foreach name="data1" item="vo">
								<tr>
								
									<td>{$vo['username']}</td>							
									<td>{$vo['addtime']}</td>
									<td>
										<a  class="btn btn-info btn-xs" data-toggle="modal" data-target="#upModal" id="{$vo.id}" name="update">修改</a>
										<a href="{:U('Admin/del',array('id'=>$vo['id']))}" class="btn btn-danger btn-xs">删除</a>
									</td>
								</tr>
								</foreach>
							</tbody>
							<tr>
								<td colspan="7" class="text-right">{$show}</td>
							</tr>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->	
	<!-- 用户添加模态框-->
    <form method="post" action="" class="form-horizontal" role="form" id="form_data"  style="margin: 20px;">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:25%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加用户
                    </h4>
                </div>
                <div class="modal-body">
                   <form class="form-horizontal" role="form"> 
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">账号：</label>
                            <div class="col-sm-9">
                            	<input type="hidden" name='addtime' value='<?php echo date('Y-m-d H:i:s',time()); ?>'>
                                <input type="text" style="width:60%;" class="form-control" id="username" name="username" value=""
                                placeholder="请输入用户账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">密码：</label>
                            <div class="col-sm-9">
                                <input type="password" style="width:60%;" class="form-control" id="password" name="password" value=""
                                placeholder="请输入用户密码">
                            </div>
                        </div>
                   </form> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary" id="sub">
                        提交
                    </button>
                    <span id="tip"></span> 
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    </form>
    <!-- -->
     <!--用户修改模态框 -->
    <form method="post" action="" class="form-horizontal" role="form" id="form_update"  style="margin: 20px;">
    <div class="modal fade" id="upModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:25%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户修改
                    </h4>
                </div>
                <div class="modal-body">
                   <form class="form-horizontal" role="form"> 
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">账号:</label>
                            <div class="col-sm-9">
                            	<input type="hidden" name='addtime' id="addtime" value='<?php echo date('Y-m-d H:i:s',time()); ?>' >
                            	<input type='hidden' name="id" id="id_up" value="">
                                <input type="text" style="width:60%;" class="form-control" id="username_up" name="username" value=""
                                placeholder="请输入用户账号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">密码:</label>
                            <div class="col-sm-9">
                                <input type="password" style="width:60%;" class="form-control" id="password_up" name="password" value=""
                                placeholder="请输入用户密码">
                            </div>
                        </div>
                   </form> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="submit" class="btn btn-primary" id="subup">
                        提交
                    </button>
                    <span id="tip"></span> 
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    </form>
    <!-- -->
<script>
$(function(){
	
  //模态框居中
	function centerModals() {   
	　　$("div[class='modal fade']").each(function(i) {   
	　　　　var $clone = $(this).clone().css('display','block').appendTo('body');
	　　　　var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 3);
	　　　　top = top > 0 ? top : 0;   
	　　　　$clone.remove();   
	　　　　$(this).find('.modal-content').css("margin-top", top);   
	　　});   
	};
	$("div[class='modal fade']").on('show.bs.modal', centerModals);

	//禁用空白处点击关闭
	$("div[class='modal fade']").modal({
		backdrop: 'static',
		keyboard: false,//禁止键盘
		show:false
	});
	//页面大小变化是仍然保证模态框水平垂直居中
	$(window).on('resize', centerModals);
	//模态框用户添加
	$('#sub').click(function(){
		var username = $.trim($('#username').val());
        var password = $.trim($('#password').val());
        if(!username || !password)
        {
            alert('请输入正确的信息！');
            return false;
        }
           
          $.ajax({
		        url : "{:u('insert')}",
		        data : {                                     
		            username:username,
		            password:password

		        }
	        }).done(function(data) {
	            if (data['ret'] == 1) {
	                
	                
	                location.reload();
	            } else {
	                alert('添加失败');
	            }
	        });

	})
	//模态框用户修改
	$("a[name='update']").click(function(){
		var username=$(this).parent().prev().prev().text();
		var id=$(this).attr('id');
		$('#username_up').attr('value',username);
		$('#id_up').attr('value',id);
	})
	$('#subup').click(function(){
		var username = $.trim($('#username_up').val());
		var password = $.trim($('#password_up').val());
		var addtime  = $.trim($('#addtime').val());
        if(!username || !password)
        {
            alert('请输入正确的信息！');
            return false;
        }
           var id=$('#id_up').val();
           
          $.ajax({
		        url : "{:u('update')}",
		        data : {		                                             
		            username:username,
		            password:password,
		            id:id,
		            addtime:addtime
		        }
	        }).done(function(data) {
	            if (data['ret'] == 1) {
	                
	                
	                location.reload();
	            } else {
	               alert('修改失败');
	            }
	        });

	})

	



})

</script>
</block>