<!--头部-->
<include file="Public/header" />
<!-- 抬头开始  -->
<div class="MJB_header"><a href="index.html">首页</a> > 联系我们</div>
<!-- 抬头结束  -->
<!-- 关于商会开始  -->

<div class="HZAbout">
	<img src="__PUBLIC__{$data['cocpic']}" />
    <p>{$data['content']}</p><br /><br /><br /><br />
</div>
<div class="HZAbout_dz">
	<p>地址:{$data['addres']}</p>
	<p>电话：{$data['phone']}</p>
	<p>项目（业务）合作邮箱:{$data['email']}</p>
    <br />
    <img src="__PUBLIC__{$data['respic']}" />
</div>

<!-- 关于商会开始  -->




<!-- 尾部-->
<include  file="Public/foot" />
</body>
</html> 